################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

*.suo
/Init_Direct.VC.db
/Init_Direct.VC.VC.opendb
